<div class="container">
  <mat-tab-group>
      
<div class="row">
    <mat-tab label="Registration and Employees">
   
          <form #registerForm="ngForm">
              
                    <div class="col-sm-4">
                      <h4 style="text-align:center">Training Registration</h4>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Name:</label>
              
                        <input type="text" id="name" name="name" placeholder="Name" required [(ngModel)]="emp.Name" class="form-control" #name="ngModel"
                        />
                      </div>
                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              
                        <div *ngIf="name.errors.required">
                          Name is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Email" required [(ngModel)]="emp.Email" class="form-control" #email="ngModel"
                        />
                      </div>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
              
                        <div *ngIf="email.errors.required">
                          email is required.
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-3 control-label"> Course:</label>
              
                        <select class="form-control" id="course" name="course" [(ngModel)]="emp.Course" required #course="ngModel">
                          <option value="" selected hidden>Select Course</option>
                        <option *ngFor="let course of courses">{{course}}</option>
              
              
                      </select>
                        <div *ngIf="course.invalid && (course.dirty || course.touched)" class="alert alert-danger">
                          <div *ngIf="course.errors.required">
                            course is required.
                          </div>
                        </div>
                      </div>
                      <div class="form-group" style="text-align:center">
                        <input type="button" [disabled]="!registerForm.valid" class="btn btn-primary" (click)="RegisterEmployeeForCourse()" value="Register"
                        />
                      </div>
                    </div>
                  </form>
              
     
          <div class="col-sm-8">
              <h4 style="text-align:center">Attendance Sheet</h4>
              <table class="table table-striped table-bordered">
                <thead style="color: #fff; background-color: #212529; border-color: #32383e;">
                
                <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Present</th>
                  <th>Course</th>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of employees;let i=index" >
                      <td>{{i+1}}</td>
                    <td>{{emp.Name}}</td>
                    <td>{{emp.Email}}</td>
                    <td>
                      <input type="checkbox" class="form-check-input"  [(ngModel)]="emp.IsPresent">
                    </td>
                    <td>{{emp.Course}}</td>
                  </tr>
                </tbody>
              </table>
              <div style="text-align: center">
                <input type="button" class="btn btn-primary" (click)="Save()" value="Save" />
              </div>
            </div>
      </mat-tab>

</div>
<mat-tab label="Course Attendance">
<div class="row">
  <div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4">
           
          </div>
         
      <div class="col-sm-4">
        <h4 style="text-align:center">Course Attendance</h4>
      </div>
      <div class="col-sm-4">
        <mat-form-field class="pull-right">
          <input matInput #ref [matDatepicker]="picker" [(ngModel)]="filterDate" placeholder="filter by date"
          (dateInput)="FilterByDate(ref.value)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <table class="table table-striped table-bordered">
      <thead style="color: #fff; background-color: #212529; border-color: #32383e;">
        
        <th>#</th>
        <th>Name</th>
        <th>Email</th>

        <th>Course</th>
        <th>Session Date</th>
      </thead>
      <tbody>
        <tr *ngFor="let atn of attendees;let i=index" [ngClass] ="{red: !atn.IsPresent}">
        <td>{{i+1}}</td>
          <td>{{atn.Name}}</td>
          <td>{{atn.Email}}</td>
          <td>{{atn.Course}}</td>
          <td>{{atn.SessionDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</mat-tab>
</mat-tab-group>
</div>